
body {
    text-align: center;
    font-family: sans-serif;
    color: black;
    font-size: 150%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    touch-action: manipulation;
    vertical-align: auto;
}
.settings {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 0%;
    background-color: #203aff;
    border-radius: 36%;
    border-width: 0;
    float: left;
    color: white;
  }
.logoheader {
    padding: 5%;
    border-bottom-left-radius: 10%; border-bottom-right-radius: 10%;
    background-color: #407aff;
}
  .image {
    width: 100%;
    position: relative;
    height: 50%;
  }
  .back {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 0%;
    background-color: #203aff;
    border-radius: 36%;
    border-width: 0;
    float: left;
    color: white;
  }
h1 {
    color: white;
}
.scrollable {
    flex-direction: row;
    width: 100%; 
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap; 
}
.content {
    width: 100%;
}
.orders {
    position: sticky; bottom: 2%;
    background-color: #003FCC;
    color: white;
    padding: 20px;
    font-size: 70%;
    border-radius: 20px;
    border: none;
}
