body {
    text-align: center;
    font-family: sans-serif;
    color: black;
    font-size: 150%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logoheader {
    padding: 5%;
    border-bottom-left-radius: 10%; border-bottom-right-radius: 10%;
    background-color: #407aff;
}
.logoimage {
    width: 100%;
    height:25%;
    position: fixed; 
}
.settings { 
    height: 54px;
    width: 56px;
    float: left;
    padding: 0%;
    background-color: #203aff;
    border-radius: 30%;
    border-width: 0;
    cursor: pointer;
}
.signout{
    font-size: 75%;
    height: 54px;
    width: 56px;
    float: right;
    padding: 0%;
    background-color: #203aff;
    border-radius: 30%;
    border-width: 0;
    color: white;
    cursor: pointer;
}
h1 {
    color: white;
}
.scrollable {
    flex-direction: row;
    width: 100%; 
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap; 
}
.content {
    width: 100%;
}
.orders {
    position: sticky; bottom: 2%;
    background-color: #003FCC;
    color: white;
    padding: 20px;
    font-size: 70%;
    border-radius: 20px;
    border: none;
}
img {
    padding-right: 2%;
}